.btn {
	@apply flex items-center border border-transparent rounded-[6px] p-[9px_20px] transition-all duration-[300ms] max-[900px]:text-[13px] max-[900px]:h-[36px] max-[900px]:p-[9px_14px] select-none text-black text-sm;
	&.btn--yellow {
		@apply bg-[#fdcd2d];
		&:hover {
			@apply bg-[#ffe926];
		}
	}
	&.btn--light {
		@apply text-[#6b768a] border-white/[0.03];
		&:hover {
			@apply bg-[#ffe926] border-[#ffe926] text-black;
		}
	}
}

.btn-drop {
	@apply bg-[#2f2158] rounded-[6px] max-[900px]:w-fit cursor-pointer h-[40px] flex items-center justify-between p-[0px_6px] relative w-[60px] max-[900px]:h-[36px] transition-all duration-[300ms];
	&:hover {
		@apply bg-[#33245f];
	}
	&__ico-wrapper {
		@apply w-[32px] h-[32px] bg-[#251b44] rounded-full flex items-center justify-center pointer-events-none;
	}
}

.icon {
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	display: inline-block;
	height: 1em;
	width: 1em;
}

.tooltip {
	@apply absolute left-0 bottom-[54px] z-[1000];
	word-wrap: break-word;
	&__inner {
		@apply bg-white rounded-[4px] text-[#282d38] max-w-full font-[500] max-w-full p-[5px_10px] text-left text-[13px];
		box-shadow: 0 0 20px 0 rgb(0 0 0 / 60%);
	}
	&__arrow {
		@apply absolute left-[10px] bottom-0;
		&:before {
			border-color: transparent;
			border-style: solid;
			border-top-color: white !important;
			border-width: 0.4rem 0.4rem 0 !important;
			content: '';
			position: absolute;
			top: -1px !important;
		}
	}
}

.mobileBtn {
	@apply fixed left-0 top-[120px] h-[50px] text-black w-[40px] bg-[#fccd2c] flex items-center justify-center rounded-tr-[5px] rounded-br-[5px] z-[300] p-[5px];
	svg {
		@apply w-[22px] h-[22px];
	}
}

.loader {
	@apply bg-[#1d1630] h-full w-full z-[100000] left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 fixed;
	&__logotype {
		@apply left-0 m-auto absolute right-0 top-0 bottom-[120px] h-[90px] w-full;
	}
	&__loading {
		@apply w-[40px] h-[40px] bottom-0 left-0 top-0 right-0 absolute m-auto top-[55px];
		animation: loader 2s linear infinite;
	}
	@keyframes loader {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		to {
			-webkit-transform: rotate(1turn);
			transform: rotate(1turn);
		}
	}
}

.loading {
	animation: loader 2s linear infinite;
}

.not-found {
	@apply w-full h-full flex flex-col justify-center items-center text-center space-y-2 select-none py-[40px];
	b {
		@apply text-3xl max-[1025px]:text-xl;
	}
	span {
		@apply text-sm text-[#5e6a7f] font-[500] max-[1025px]:text-xs;
	}
}

.table {
	@apply w-full max-[725px]:overflow-auto block;
	&::-webkit-scrollbar {
		height: 4px;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(#3e2c74, 0.2);
		border-radius: 50px;
	}
	table {
		@apply w-full border-collapse max-[725px]:min-w-[925px];
		thead {
			tr {
				td {
					@apply text-[12px] py-2.5 text-left font-[500] text-[#a5acbb] px-4;
				}
			}
		}
		tbody {
			tr {
				td {
					@apply px-4 bg-[#251b45] border-b-[1px] py-4 border-[#2b1f50];
				}
				&:first-child {
					td {
						&:first-child {
							@apply rounded-tl-[8px];
						}
						&:last-child {
							@apply rounded-tr-[8px];
						}
					}
				}
				&:last-child {
					td {
						@apply border-0;
						&:first-child {
							@apply rounded-bl-[8px];
						}
						&:last-child {
							@apply rounded-br-[8px];
						}
					}
				}
			}
		}
	}
	&__link {
		@apply relative text-[#828f9a] transition-all duration-300 ease-out;
		&:hover {
			@apply text-white;
		}
		&.animate {
			span {
				@apply animate-[floatUp_1s_1];
			}
		}
		span {
			@apply absolute will-change-transform left-1/2 -translate-x-1/2 bottom-[20px] transition-all duration-300 ease-out text-xs text-white bg-[#1c1434] p-[2px_10px] rounded-full opacity-0 pointer-events-none;
		}
	}
	&__buttons {
		@apply flex justify-start items-center space-x-2;
		button {
			@apply w-[28px] h-[28px] rounded-[6px] flex items-center justify-center transition-all duration-300 ease-out;
		}
	}
	&__btn--edit {
		@apply text-[10px] bg-[#fdcd2d]/[0.1] text-[#fdcd2d];
		&:hover {
			@apply bg-[#ffe926] text-black;
		}
	}
	&__btn--delete {
		@apply text-[10px] text-[#ff4d4d] bg-[#ff5c5c]/[0.1];
		&:hover {
			@apply bg-[#ff6969] text-white;
		}
	}
}

.copy-tooltip {
	@apply relative;
	&.animate {
		.copy-tooltip__value {
			@apply animate-[floatUp_1s_1];
		}
	}
	&__value {
		@apply absolute will-change-transform left-1/2 -translate-x-1/2 bottom-[20px] transition-all duration-300 ease-out text-xs text-white bg-[#1c1434] p-[2px_10px] rounded-full opacity-0 pointer-events-none;
	}
}

@keyframes floatUp {
	20% {
		opacity: 0.999;
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(-50%, -17px, 0);
		transform: translate3d(-50%, -17px, 0);
	}
}

.tippy-tooltip {
	@apply bg-[#fff] text-[#282d38] text-[13px] font-[500] font-['Rubik'];
	.tippy-arrow {
		border-top: 8px solid #fff !important;
	}
}
