.confirm {
	background-color: rgb(49 39 86 / 85%) !important;
	backdrop-filter: blur(5px);
	padding: 25px;
	text-align: center;
	.vue-dialog-content {
		@apply p-[64px_12px_12px_12px];
	}
	.vue-dialog-buttons {
		@apply border-0 flex items-center justify-center w-full space-x-2 pt-2;
		button {
			@apply relative h-[44px] p-[0_15px] text-sm rounded-[8px] bg-transparent w-[128px] transition-all duration-300 ease-out;
			border: solid 1px rgb(255 255 255 / 8%) !important;
			flex: none !important;
			&:hover {
				border: solid 1px rgb(255 255 255 / 12%) !important;
			}
		}
	}
	.vue-dialog-content-title {
		@apply text-lg font-bold pb-0;
		&:before {
			@apply content-[''] w-[64px] h-[64px] absolute left-1/2 -translate-x-1/2 top-[18px];
			background: url('@/assets/images/alert.svg') no-repeat center center / contain;
		}
	}
}
