.vm--overlay {
	background: rgb(0 0 0 / 60%) !important;
}

.vm--modal {
	background: transparent !important;
	box-shadow: inherit !important;
	border-radius: 6px !important;
	top: inherit !important;
	bottom: inherit !important;
	overflow: hidden;
	left: inherit !important;
	right: inherit !important;
	width: fit-content !important;
}

.vm--container {
	padding: 24px 0px;
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999 !important;
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}

.modal {
	@apply text-white;
	&__container {
		@apply flex w-full flex-col;
	}
	&__tabs {
		@apply flex items-center bg-[#1d1630] rounded-tl-[6px] rounded-tr-[6px] text-base h-[52px] justify-start p-[0_15px] relative;
	}
	&__tab {
		@apply border-b-[2px] border-transparent opacity-[0.5] transition-all duration-300 ease-out flex items-center cursor-pointer text-sm h-[52px] justify-center mr-[5px] p-[0_10px] relative select-none whitespace-nowrap;
		svg {
			@apply w-[17px] h-[17px] mr-[8px] mt-[1px];
		}
		&:hover {
			@apply opacity-100;
		}
		&:before {
			@apply content-[''] absolute opacity-0 left-0 w-0 -bottom-[1px] h-[2px] bg-[#fdcd2d] transition-all duration-300 ease-out;
		}
	}
	&__close {
		@apply absolute right-[10px] top-1/2 -translate-y-1/2 w-[38px] h-[38px] mr-0 text-white/[0.13] transition-all duration-300 ease-out;
		svg {
			@apply w-[10px] h-[10px];
		}
		&:hover {
			@apply text-white;
		}
	}
	&__tab--active {
		@apply opacity-100;
		&:before {
			@apply w-full opacity-100;
		}
	}
	&__content {
		@apply bg-[#281f42]/[0.83] backdrop-blur-[8px] flex justify-center m-[0_auto] w-full;
	}
	&__label {
		@apply text-[#a5acbb] text-sm mb-[12px] flex items-center whitespace-nowrap;
	}
	&__form {
		@apply flex flex-col relative space-y-3;
	}
	&__input {
		@apply relative text-black;
		input {
			@apply text-base h-[44px] placeholder:text-black/[0.7] rounded-[6px] border-[2px] border-transparent px-[12px] bg-white w-full text-black transition-all duration-200 ease-out;
		}
	}
	&__input-icon {
		@apply absolute left-0 top-0 w-[46px] h-full flex items-center justify-center text-[16px];
		svg {
			@apply relative top-[1px];
		}
	}
	&__form-buttons {
		@apply w-full flex items-center justify-between gap-3;
		button {
			@apply flex w-full items-center justify-center min-[475px]:text-[15px] text-[14px] transition-all duration-300 ease-out font-[500] text-[#93969b] border-[2px] bg-white border-transparent h-[36px] rounded-[6px] relative;
			&:hover {
				@apply border-[#fdcd2d] text-black;
			}
			&.active {
				@apply border-[#fdcd2d] text-black;
			}
		}
	}
	&__form-btn {
		@apply flex justify-center items-center;
		button {
			@apply bg-[#fdcd2d] rounded-[6px] text-[15px] text-black h-[48px] w-full transition-all duration-300 ease-out;
			&:hover {
				@apply bg-[#ffe926];
			}
		}
	}
	&__loader {
		@apply py-[30px] flex items-center justify-center;
		img {
			@apply w-[32px] h-[32px];
		}
	}
	&__input--failed {
		border-color: #ff4d4d !important;
	}
	&__select {
		@apply relative w-full z-[50];
	}
	&__select-button {
		@apply transition-all whitespace-nowrap justify-start overflow-hidden text-ellipsis relative duration-300 ease-out w-full h-[46px] rounded-[6px] bg-[#1d1630] text-white text-[15px] flex items-center pl-[15px] pr-[calc(46px_+_15px)];
		img {
			@apply h-[22px] mr-[10px];
		}
		&.active {
			@apply rounded-bl-none rounded-br-none;
			.modal__select-opener {
				@apply rotate-[180deg];
			}
		}
	}
	&__select-opener {
		@apply text-[#7f8596] absolute right-0 w-[46px] h-full flex items-center justify-center transition-all duration-300 ease-out;
	}
	&__select-inner {
		@apply absolute left-0 top-[100%] bg-[#1d1630] py-4 rounded-bl-[6px] rounded-br-[6xl] text-white w-full max-h-[250px] overflow-auto shadow-[-1px_28px_30px_rgba(0,0,0,0.1)];
		.modal__label {
			@apply px-4;
		}
		.wallet__list-item {
			@apply px-4;
		}
	}
	&__form-txt {
		@apply text-center text-[12px] leading-[160%];
		a {
			@apply text-[#3077f7];
			&:hover {
				@apply underline;
			}
		}
	}
	&__title {
		@apply text-lg font-[500] flex justify-center h-fit py-4 max-[625px]:text-base;
	}
	&__alert {
		@apply flex items-center p-[16px] rounded-[6px] bg-[#2d2056];
	}
	&__alert-image {
		@apply flex pr-[10px] items-center h-[40px] shrink-0;
		img {
			@apply w-[32px] h-[32px] object-contain;
		}
	}
	&__alert-info {
		@apply text-sm text-[#b7bece];
		a {
			@apply text-[#3077f7] transition-all duration-300 ease-out;
			&:hover {
				@apply text-[#79a6f8];
			}
		}
	}
	&__body {
		@apply p-[18px] bg-[#1d1630] text-center text-[14px] text-[#828f9a];
		a {
			@apply transition-all duration-300 ease-out text-[#3077f7];
			&:hover {
				@apply text-[#79a6f8];
			}
		}
	}
}
