@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	@apply bg-[#1d1630] font-['Rubik'] h-full overflow-hidden;
}

#app {
	@apply h-full w-full text-white text-sm;
}

.layout {
	@apply flex flex-col h-full w-full;
}

main {
	@apply flex h-full overflow-hidden pl-[75px] pr-[15px] relative w-full max-[900px]:p-0;
}

.layout--small {
	main {
		@apply max-w-[1200px] mx-auto p-[0_15px];
	}
	.content {
		&__inner {
			@apply p-0;
		}
	}
}

.scroll-0 {
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}

.wrapper {
	@apply max-w-[1250px] mx-auto w-full;
}

section {
	&.fullscreen {
		@apply h-full;
	}
}

button {
	@apply flex items-center justify-center;
}

.content {
	@apply flex flex-col h-full w-full overflow-hidden;
	&__inner {
		@apply h-full min-h-0 overflow-x-hidden overflow-y-scroll p-[0px_3vw] w-full max-[900px]:p-[0px_15px];
		will-change: scroll-position;
		-webkit-backface-visibility: hidden;
		&::-webkit-scrollbar {
			@apply w-0 h-0;
		}
	}
	&__layout {
		@apply flex flex-col relative w-full min-[900px]:pt-[15px] max-[900px]:pb-[calc(6px_+_54px)] min-h-full h-full;
	}
}

.layout--small {
	.content__layout {
		@apply pt-0;
	}
	.header {
		@apply border-0;
	}
}

input,
button {
	@apply outline-none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:disabled {
		-webkit-text-fill-color: black;
		opacity: 1; /* required on iOS */
	}
	&::-webkit-inner-spin-button,
	::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}

@import './scss/ui/ui';

@import './scss/layout/header';
@import './scss/layout/leftside';
@import './scss/layout/rightside';
@import './scss/layout/footer';
@import './scss/layout/mobile-menu';

@import './scss/elements/history-block';
@import './scss/elements/games-box';
@import './scss/elements/typicals';

@import './scss/pages/index';
@import './scss/pages/game';
@import './scss/pages/lobby';
@import './scss/pages/sport';
@import './scss/pages/promotions';
@import './scss/pages/partners';
@import './scss/pages/loyalty';
@import './scss/pages/promo';
@import './scss/pages/settings';
@import './scss/pages/history';
@import './scss/pages/fair';
@import './scss/pages/help';
@import './scss/pages/text';

@import './scss/modals/default';
@import './scss/modals/wallet';
@import './scss/modals/auth';
@import './scss/modals/confirm';
@import './scss/modals/two-factor-settings';
@import './scss/modals/promo';
@import './scss/modals/friends-club';
@import './scss/modals/stats';
