.header {
	@apply h-[67px] max-[900px]:h-[60px] shrink-0 bg-[#1d1630] flex justify-center min-w-[320px] p-[0px_15px] max-[900px]:px-3 w-full items-center z-[50];
}
.header__logotype {
	@apply max-w-full transition-all select-none;
}
.header__logotype img {
	@apply h-[40px];
}
.header__inner {
	@apply ml-[15px] flex items-center justify-between w-full;
}
.header__inner-left {
	@apply flex items-center;
}
.header__inner-right {
	@apply flex items-center space-x-[15px];
}
.header__links {
	@apply flex items-center space-x-[3px] max-[900px]:hidden;
}
.header__links li {
	@apply relative;
}
.header__links li a {
	@apply inline-block flex items-center justify-center p-[8px_10px] relative;
}
.header__links li a:before {
	@apply content-[""] absolute left-0 bottom-0 w-0 h-[1px] bg-[#fdcd2d] transition-all duration-[300ms];
}
.header__links li a:hover:before {
	@apply w-full;
}
.header__link--active:before {
	width: 100% !important;
}
.header__user {
	@apply flex items-center space-x-[15px] max-[900px]:space-x-2;
}
.header__user .header__balance-inner {
	@apply flex items-center space-x-[15px] max-[900px]:space-x-3;
}
.header__user .header__balance {
	@apply flex flex-col space-y-1 max-[900px]:space-y-0.5;
}
.header__user .header__balance .header__balance-label {
	@apply text-[#828f9a] w-full flex items-center justify-start max-[900px]:text-[10px] text-xs uppercase;
}
.header__user .header__balance .header__balance-value {
	@apply flex items-center font-[500] text-[17px] max-[344px]:text-sm text-center;
}
.header__user .header__balance .header__balance-icon {
	@apply ml-1;
}
.header__user-information {
	@apply relative;
}
.header__user-information .btn-drop__ico-second {
	@apply max-[900px]:hidden;
}
.header__user-menu {
	@apply absolute origin-top-right right-0 top-[calc(100%_+_12px)] w-[240px] bg-[#f9f9f9] rounded-[8px];
}
.header__user-menu:before {
	border-color: transparent transparent #f9f9f9;
	border-style: solid;
	border-width: 0 6px 8px;
	content: '';
	height: 0;
	position: absolute;
	right: 12px;
	top: -7px;
	width: 0;
}
.header__user-menu-info {
	@apply bg-[#e5e5e5] h-[54px] rounded-tl-[8px] rounded-tr-[8px] text-sm p-[0px_12px] flex items-center;
}
.header__user-menu-info a {
	@apply flex items-center space-x-2 text-black;
}
.header__user-menu-info a span {
	@apply pointer-events-none;
}
.header__user-menu-avatar {
	@apply rounded-full flex items-center justify-center w-[27px] h-[27px] text-white;
}
.header__user-menu-links {
	@apply flex flex-col;
}
.header__user-menu-links li {
	@apply border-b border-[#f1f1f1] last:border-0;
}
.header__user-menu-links a {
	@apply flex items-center p-[12px] whitespace-nowrap text-sm text-black/[0.75] transition-all duration-[300ms] last:rounded-bl-[8px] last:rounded-br-[8px];
}
.header__user-menu-links a:hover {
	@apply bg-[#f1f1f1];
}
.header__user-menu-links a span {
	@apply rounded-[4px] w-[27px] h-[27px] bg-[#e5e5e5] flex items-center justify-center mr-2.5;
}
.header__btn-version {
	@apply max-[900px]:hidden;
}
.header__btn-version .btn-drop__ico-second svg {
	@apply text-[9px];
}
.header__btn-version .btn-drop__ico-wrapper {
	@apply text-[12px];
}

.layout--small .header {
	@apply max-w-[1200px] mx-auto;
}
